<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="stylesheet" type="text/css" href="css/explore.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="css/show.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://kit.fontawesome.com/ebfafc2eb8.js" crossorigin="anonymous"></script>
    <script src="explore.js"></script>
    <script src="owl.carousel.min.js"></script>
</head>
<style>
    :root {
        --gray6: #333;
    }

    .dark {
        --bg: var(--gray6);
    }

    .light {
        --bg: var(--gray3);
    }

    body {
        margin: 0;
        padding: 0;
        background-color: var(--bg);
        font-family: 'Nunito Sans', sans-serif;
    }
</style>

<body class="dark">
    <div class="navbar">
        <a href="/explore" class="smallicon"><img src="smallicon.png" height=44 alt="find private tutors online"></a>
        <div class="searchbox animated zoomIn">
            <form method="get" action="/explore">
                <input oninput="triggercross(this.value)" onkeyup="searchFunction()" type="text" placeholder="search"
                    id="search" name="search" class="search"><i class="fas fa-search" style="top:40%;
                    left:8%;"></i>
                <button onclick="close1()" id="closeid" type="reset" class="close" style=" right:-140%;">
                    <i class="fas fa-times"></i>
                </button>
            </form>

        </div>
        <div class="smallicon menu">
            <ul class="ul">
                <li class="li">
                    <form action="/tutor" method="GET">
                        <button class="navbutton">Tutor Mode</a>
                    </form>
                </li>
                <li class="li"><a href="/" style="padding:12px !important ;">Home</a></li>
                <li class="li"><a href="/user/wishlist" style="padding:12px !important ;">Wishlist</a></li>
                <li class="li"><a href="/user/mypurchases" style="padding:12px !important ;">Purchases</a></li>
                <li class="li"><button value="changetheme" onclick="changetheme()" class="toggle"></button>
                </li>
                <li class="li"><a href="/logout" style="padding:12px !important ;">Log Out</a></li>
            </ul>
        </div>
    </div>