<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="css/aboutus.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://kit.fontawesome.com/ebfafc2eb8.js" crossorigin="anonymous"></script>
</head>

<body>
    <section class="header">
        <div class="container">
            <a href="/" class="login-btn">Home</a>
        </div>
    </section>
    <div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title">About Us</h2>
                        <p class="aboutus-text">TutorWeb makes the whole process of locating
                            tutors quick and easy.Join TutorWeb and find your ideal tutor today! Browse through our
                            list of thousands of registered tutors completely free of charge. The tutors' rates listed
                            here are likely cheaper than anywhere else, that's because 95% of tutors here at TutorWeb
                            are on commmission free pricing.</p>

                        <p class="aboutus-text">We manage the whole booking process, and collect payments for the tutor,
                            so you do not need to worry about transferring money or bringing cash to your lessons.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="icon"><i class="fas fa-check-circle"></i></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Choosing the right tutor</h4>
                                    <p>By using our search feature, you will be able to
                                        identify a number of suitable tutors operating within your postcode. You can
                                        then message these tutors, and ask them any questions you may have. After you
                                        have sent a message we will create an account for you.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="icon"><i class="fas fa-check-circle"></i></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Reliable services</h4>
                                    <p>Contact as many tutors through our site as you wish, for no charge.
                                        Read feedback and testimonials from past students.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="icon"><i class="fas fa-check-circle"></i></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Secure Payments</h4>
                                    <p>Pay online securely using stripe</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="feature">
                        <h3 class="aboutus-title">Team Members</h3>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="icon"><img class="icon" src="Disha.jpg"></i></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Disha Lekurwale</h4>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="icon"><img class="icon" src="rasika.jpg"></i></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Rasika Gawande</h4>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="icon"><img class="icon" src="sanjyot.jpg"></i></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Sanjyot Gambhare</h4>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="icon"><img class="icon" src="user.jpg"></i></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Viraj Yadav</h4>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>