<html>

<head>
    <link rel="stylesheet" href="/css/login.css">
    <Title>LOGIN</Title>

</head>

<body>
    <div class="loginbox"><img src="smallicon.jpg" class="avatar">
        <h1>LOGIN</h1>
        <form action="/login" method="post">
            <p>Username</p>
            <input type="text" name="username" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password">
            <input type="submit" name="" value="Login">
            <a href="/register">Don't have an account</>
        </form>
    </div>

</body>


</html>